layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffb3b3"
        inactive-color "#a08c8c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb3b3"
        inactive-color "#a08c8c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb3b3"
        inactive-color "#a08c8c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb3b380"
    }
}